RewriteEngine On
RewriteBase /

# Redirect requests for non-existent files or directories to index.php with 'page' parameter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]

# Custom error page for 404 errors, if the 'page' parameter doesn't match existing routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} !page=404
RewriteRule ^(.*)$ /404.php [L]