.rl{
    position: relative;
    float: left;
}

.rr{
    position: relative;
    float: right;
}

.db {display: block;}

.clear{clear: both;}

a, input, textarea, .btn, .totop, a#show_more span, .accord_title span, .overlay-close, .header, button:before, .slick-arrow{
    transition: all 0.4s;
}

html {
    background: #F8F9FA;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.filters a {
    text-decoration: none;
    padding: 5px;
    line-height: 1;
}

.h100 {
    height: 100% !important;
}

.edit_location_btn span:nth-child(1),
.edit_location_btn_active .edit_location_btn span:nth-child(2),
.edit_location_btn_active .edit_location_form {
    display: block;
}

.edit_location_btn span:nth-child(2),
.edit_location_btn_active .edit_location_btn span:nth-child(1),
.edit_location_form {
    display: none;
}