/*==================== ZFReset ====================*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, q, small, strong,b, dl, dt, dd, ol, ul, li, form, label, legend, article, aside, canvas, figure, footer, header, hgroup, menu, nav, section, audio, video{margin: 0; padding: 0; font-size: 100%;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block; position: relative; padding: 0; list-style: none;} audio, canvas, iframe, img, svg, video{vertical-align: middle;} textarea{resize: vertical;} *{outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;} a img{border: none;} img{max-width: 100%; height: auto;} strong, b{font-weight: bold;}

/*==================== ZFHelp ====================*/
.tar{text-align: right;}
.tal{text-align: left;}
.tac{text-align: center;}
.rl{
    position: relative;
    float: left;
}
.rr{
    position: relative;
    float: right;
}
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.flex_vertical{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input, textarea{
    font-family: inherit;
}

/*=================== ZFDoom ===================*/
.block_all, .block_100, .block_75, .block_66, .block_50, .block_33, .block_25{
    width: 100%;
    position: relative;
    float: left;
}
section.block_all{
    padding: 40px 0;
}
.block{
    width: 100%;
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
}
.p_x>div{
    padding-left: 15px;
    padding-right: 15px;
}
.block.p_xx{max-width: 1170px;}
.block_75{max-width: 75%;}
.block_66{max-width: 66.66%;}
.block_50{max-width: 50%;}
.block_33{max-width: 33.33%;}
.block_25{max-width: 25%;}
.dn, .db_tab, .db_mob, .db_mini{display: none;}
.clear{clear: both;}
.pT5{padding-top: 5px;}
.pT10{padding-top: 10px;}
.pT15{padding-top: 15px;}
.pT20{padding-top: 20px;}
.pT30{padding-top: 30px;}
.pT40{padding-top: 40px;}
.pT50{padding-top: 50px;}
.pT60{padding-top: 60px;}
.pT70{padding-top: 70px;}
.pT80{padding-top: 80px;}
.pT90{padding-top: 90px;}
.pT100{padding-top: 100px;}
.btn{
    display: block;
    position: relative;
    float: left;
    padding: 10px;
    margin: 10px 0;
    line-height: 1;
    border: 1px solid #999;
    cursor: pointer;
}
.btn:hover{
    color: #fff;
    background: #999;
}
a, input, textarea, .btn, .totop, a#show_more span, .accord_title span, .overlay-close, .header, button:before, .slick-arrow{
    transition: all 0.4s;
}

body {
    font-family: Georgia, serif;
}